@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
:root{
    --primary-color: (32, 138, 129);
    --primary-color-darker: (26, 87, 82);

}
*{
    box-sizing: border-box;
    outline: 0;

}
body{
    background-color: var(--primary-color);
    margin: 0;
    padding: 0;
    font-family: 1.3em;
    line-height: 1.5em;

}

.eu{
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}